body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

header {
    width: 100%;
    background-image: url(../images/backgroundHeader.png);
    background-repeat: no-repeat;
    background-size: 1920px 690px;
    background-color: #DD6930;
    display: flex;
    justify-content: center;
}

header>div {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

header>div>span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

header>div>img {
    width: 550px;
}

#iconeCabecalho {
    width: 200px;
}

#textoCabecalho {
    width: 600px;
}

.botaoCompra {
    text-decoration: none;
    color: white;
    background-color: #9FD42D;
    padding: 20px;
    border-radius: 18px;
    border: none;
    font-size: 18px;
    box-shadow: rgb(39, 39, 39) 5px 3px 15px 2px;
    cursor: pointer;
}

.botaoCompra:hover {
    background-color: #a6ee0b;
}

.botaoCompra:active {
    box-shadow: none;
    background-color: #55701a;
}

#pHeader {
    width: 70%;
    margin: 37px 0px;
}

#secao1 {
    background-image: url(../images/backgroundSection1.png);
    width: 100%;
}

#secao2 {
    background-color: #330352;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secao3 {
    background-image: url(../images/backgroundPerguntas.png);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secao4 {
    background-color: #330352;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicioSpan1 {
    width: 40%;
    margin: 50px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: solid rgb(255, 255, 255) 10px;
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 0px 0px 15px 3px;
    font-size: 16px;
}

#inicioSpan1 span {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#inicio>img {
    width: 1000px;
    margin-bottom: 50px;
}

#inicioSpan2 {
    display: flex;
    justify-content: space-around;
    border: solid rgb(255, 255, 255) 2px;
    width: 70%;
    font-size: 15px;
    text-align: center;
}

#inicioSpan2 span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 270px;
}

#inicioSpan2 img {
    width: 70px;
}

#inicioSpan2 h3 {
    margin-bottom: 2px;
}

#alemDisso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alemDisso h1 {
    margin-top: 80px;
}

#alemDisso span {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    width: 1100px;
    height: 65px;
    background-color: #9FD42D;
    border-radius: 30px;
    font-size: 19px;
    margin: 10px 0px;
    color: #ebeced;
}

#alemDisso b {
    color: #330352;
}

#conheca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conheca>img {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 30%;
}

iframe {
    border: solid #DD6930 6px;
    border-radius: 5px;
}

#wave {
    width: 100%;
    margin-bottom: -10px;
    margin-top: 20px;
}

#depoimentos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85vw;
    text-align: center;
}

.glider {
    width: 100%;
    overflow-x: hidden;
}

#amostra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amostra>span {
    display: flex;
}

#amostra>span>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amostra1 {
    width: 650px;
}

#amostra2 {
    width: 400px;
}

#amostra a {
    margin-top: 90px;
    padding: 20px 60px;
}

#comprando {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comprando>span {
    display: flex;
    height: 40px;
    margin: 10px 0px;
}

#comprando p {
    margin: 0px;
    font-size: 22px;
    background-color: #DD6930;
    width: 900px;
    border-radius: 5px;
    padding-left: 10px;
}

#tudoIsso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tudoIsso0 {
    width: 800px;
    margin-top: 30px;
}

#tudoIsso1 {
    width: 400px;
    margin-top: 30px;
}

#tudoIsso a {
    margin: 50px 0px;
}

#tudoIsso2 {
    width: 500px;
}

#perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perguntas>span {
    width: 950px;
    color: black;
}

.pergunta {
    background-color: #9FD42D;
    height: 45px;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
}

.pergunta:hover {
    background-color: #a6ee0b;
}

.pergunta:active {
    background-color: #55701a;
}

.resposta {
    background-color: #c3df89;
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    display: none;
}

#quemSou {
    display: flex;
    align-items: flex-end;
}

#quemSou img {
    width: 600px;
}

#quemSou span {
    width: 600px;
    text-align: right;
    font-size: 22px;
}

@media screen and (max-width: 850px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    header>div {
        flex-direction: column;
        align-items: center;
    }

    header>div>img {
        width: 200px;
    }

    header>div>span {
        align-items: center;
    }

    #textoCabecalho {
        margin-top: 30px;
        width: 350px;
    }

    #iconeCabecalho {
        width: 100px;
    }

    #pHeader {
        width: 90%;
    }


    #inicioSpan1 {
        width: 90%;
        border: solid rgb(255, 255, 255) 5px;
        font-size: 13px;
        padding: 20px 0px;
    }

    #inicioSpan1 span {
        margin: 0px 10px;
    }

    #inicioSpan1 img {
        width: 40px;
    }

    #inicio>img {
        width: 380px;
    }

    #inicioSpan2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    #inicioSpan2 img {
        width: 45px;
    }

    #inicioSpan2 span {
        width: 200px;
        margin-top: 35px;
    }

    #alemDisso span {
        font-size: 12.5px;
        width: 90%;
    }

    #conheca>img {
        width: 80%;
        margin-top: 45px;
    }

    iframe {
        width: 360px;
        height: 240px;
    }

    #depoimentos h1 {
        font-size: 26px;
    }

    #amostra>img {
        width: 350px;
    }

    #amostra>span {
        flex-direction: column;
    }

    #amostra1 {
        width: 300px;
    }

    #amostra2 {
        width: 240px;
        margin-top: 20px;
    }

    #amostra a {
        margin-top: 30px;
    }

    #comprando>img {
        width: 350px;
        margin-top: 20px;
    }

    #comprando p {
        width: 290px;
        font-size: 12.5px;
    }

    #tudoIsso0 {
        width: 350px;
    }

    #tudoIsso1 {
        width: 230px;
    }

    #tudoIsso2 {
        width: 330px;
    }

    #perguntas>span {
        width: 350px;
    }

    .pergunta {
        font-size: 15px;
    }

    #quemSou {
        flex-direction: column-reverse;
        align-items: center;
    }

    #quemSou span {
        width: 300px;
        text-align: left;
        font-size: 17px;
    }

    #quemSou h1 {
        text-align: center;
    }

    #quemSou img {
        width: 250px;
    }
}