body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 0px;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FF8000;
}

hr {
    width: 65%;
    border: solid #AED768;
    border-radius: 20px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/backgroundCabecalho.png);
    background-attachment: fixed;
}

header>img {
    width: 350px;
}

header>div {
    width: 63%;
    display: flex;
    align-items: flex-end;
}

header>div>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>div>span>h2 {
    text-align: center;
    font-size: 52px;
    color: #ff5e00;
    text-shadow: 1px 1px rgb(250, 144, 94);
    margin: 0px;
}

header>div>span>p {
    width: 80%;
    text-align: left;
    font-size: 24px;
    color: white;
    margin: 0px;
}

header>div>span>p>strong {
    font-size: 30px;
    color: #FF8000;
}

.botaoCompra {
    margin: 40px;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background-color: #FF8000;
    box-shadow: 0px 0px 2px 2px #AED768;
}

.botaoCompra:hover {
    transition-duration: 0.2s;
    background-color: #964d03;
}

.botaoCompra:active {
    transition-duration: 0ms;
    box-shadow: none;
    background-color: #6b1a01;
}

header>div>img {
    width: 422px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/backgroundMain.png);
}

#quemSouEu {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textoQuemSouEu {
    display: flex;
    width: 65%;
    align-items: center;
}

#mulher {
    height: 20vw;
    border-radius: 50%;
    margin: 15px;
}



#prova {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

#provaOab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 20px 0px 150px 0px;
}

#provaOab>h1 {
    text-shadow: 1px 1px black;
}

#imgProva {
    width: 100%;
}

#imgProvaOab {
    width: 670px;
}

#quadrinhos {
    display: flex;
    width: 930px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.quadrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-color: #840358;
    text-align: center;
    box-shadow: 0px 0px 10px 2px orange;
    color: white;
}


.quadrinho>img {
    height: 100px;
}

.quadrinho>p {
    width: 80%;
    font-size: 18px;
}

.icone {
    height: 60px;
}

#quemPode span {
    display: flex;
    align-items: center;
    text-align: left;
}

#quemPode {
    width: 60%;
    background-color: white;
    margin: 150px 0px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px orange;
}

#quemPode>h1 {
    text-align: center;
}

#paraQuem {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px 0px;
}


#paraQuem>div {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.paraQuemQuadrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid #AED768;
    width: 260px;
    height: 300px;
    margin: 15px;
    background-color: white;
    box-shadow: 0px 5px 10px 1px rgb(133, 132, 132);
    border-radius: 0px 0px 20px 20px;
}

.paraQuemQuadrinho>img {
    width: 80px;
    margin: 10px;
}

.paraQuemQuadrinho>p {
    text-align: center;
    width: 80%;
}

#estrategia {
    width: 70%;
    padding-bottom: 18px;
    border: solid #FF8000;
    text-align: center;
    background-color: white;
    margin: 150px 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px orange;
}


#estrategia>div {
    display: flex;
    justify-content: space-between;
}

#estrategia>div>span {
    padding-top: 120px;
    padding-right: 15px;
    text-align: left;
    font-size: 26px;
}

#estrategia strong {
    background-color: #AED768;
    color: #FF8000;
}

#estrategiaFoto {
    width: 400px;
}

#vaiEncontrar {
    margin: 150px 0px;
    width: 80%;
}

#vaiEncontrar>h1 {
    margin-bottom: 80px;
    text-align: center;
}

.vaiEncontrarP {
    background-color: #dbecbd;
    padding: 20px;
    font-size: 24px;
    text-align: left;
}

#youtube {
    margin: 150px 0px;
    text-align: center;
    width: 100%;
}

#quaisMateriais {
    margin: 150px 0px;
    width: 50%;
    text-align: center;
}

#quaisMateriais>h1 {
    margin-bottom: 80px;
}

.materiaisSpan {
    display: flex;
    background-color: #dbecbd;
    border-radius: 20px;
    margin: 30px 0px;
}

.materiaisSpan:nth-child(even) {
    flex-direction: row-reverse;
}
.materiaisSpan>span {
    padding: 20px;
}


.materiaisImagem {
    width: 300px;
}

@media screen and (max-width: 850px) {
    body {
        font-size: 15px;
    }

    header>img {
        width: 200px;
    }

    header>div {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    header>div>span>h2 {
        font-size: 35px;
    }

    header>div>span>p {
        width: 85%;
        font-size: 19px;
    }

    header>div>span>p>strong {
        font-size: 21px;
    }

    .botaoCompra {
        margin: 20px;
        padding: 8px;
        font-size: 19px;
    }

    header>div>img {
        width: 190px;
    }

    #textoQuemSouEu {
        flex-direction: column-reverse;

        width: 90%;
    }

    #mulher {
        height: 40vw;
    }

    h1 {
        font-size: 30px;
    }

    #provaOab {
        width: 100%;
        text-align: center;
        margin: 20px 0px;
    }

    #imgProvaOab {
        width: 350px;
    }

    #provaOab>h2 {
        font-size: 30px;
    }

    #quadrinhos {
        width: 100%;
    }

    .quadrinho {
        width: 170px;
        height: 250px;
    }

    .quadrinho>img {
        height: 80px;
    }

    .quadrinho>p {
        width: 90%;
        font-size: 13px;
    }

    #quemPode {
        width: 85%;
        margin: 30px 0px;
    }

    #quemPode h1 {
        text-align: center;
    }

    #paraQuem {
        margin: 0px;
        width: 95%;
    }

    #paraQuem>h1 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    #paraQuem>div {
        flex-direction: column;
        align-items: center;
    }

    .paraQuemQuadrinho {
        height: 230px;
    }

    .paraQuemQuadrinho>p {
        font-size: 18px;
    }

    #estrategia {
        width: 95%;
        margin: 30px 0px;
    }

    #estrategia>h1 {
        font-size: 25px;
    }

    #estrategia>div {
        justify-content: space-between;
    }

    #estrategia>div>span {
        font-size: 14px;
        padding: 0px;
        width: 50%;
        flex-grow: 1;
    }

    #estrategiaFoto {
        width: 150px;
    }

    #vaiEncontrar {
        width: 95%;
        margin: 0px;
    }

    #vaiEncontrar>h1 {
        margin-bottom: 40px;
    }

    .vaiEncontrarP {
        font-size: 17px;
    }

    #youtube {
        margin: 0px;
    }

    #youtube>iframe {
        width: 360px;
        height: 240px;
    }
    #quaisMateriais {
        margin: 0px;
        width: 95%;
    }
    #quaisMateriais > h1 {
        margin-bottom: 30px;
        font-size: 22px;
    }
    .materiaisSpan {
        flex-direction: column;
        align-items: center;
    }
    .materiaisSpan:nth-child(even) {
        flex-direction: column;
    }
    .materiaisImagem {
        width: 200px;
    }
}